<a href="https://colab.research.google.com/github/Lucasrichards19/Data-science/blob/main/LucasRichards_M6_SparkSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Setting up PySpark and creating a Spark Session

In [1]:
# Update environment (if needed)
# !sudo apt update

# Download and install Java
#!sudo apt-get install openjdk-8-jdk-headless -qq > /dev/null

## Install Apache Spark 3.2.1 with Hadoop 3.2
#!wget -nc -q https://downloads.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

# Unzip the folder
#!tar xf  spark-3.2.1-bin-hadoop3.2.tgz

# Install findspark library that will locate Spark on the system
#!pip install -q findspark

debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 2.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now

In [2]:
# Update environment (if needed)
# !sudo apt update

# Download and install Java
!sudo apt-get install openjdk-8-jdk-headless -qq > /dev/null

# Install Apache Spark 3.2.1 with Hadoop 3.2
!wget -nc -q https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz

# Unzip the folder
!tar xf  spark-3.2.1-bin-hadoop3.2.tgz

# Install findspark library that will locate Spark on the system
!pip install -q findspark

In [3]:
# Setting the environment variables

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

In [4]:
import findspark
findspark.init()

In [5]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# After executing the cell above, Drive
# files will be present in "/content/My Drive".
!ls "/content/drive/My Drive/UCI/Big Data Analysis/Datasets"

acite75_99.zip	   LungCapData.csv
airline.csv	   LungCapData.txt
airlines_2007.csv  Municipal_Court_Caseload_Information.zip
airlines_2008.csv  spark_data_loan_sub_new.csv
books.csv	   violation_type_desc.csv

In [ ]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

# Create spark session
spark = SparkSession.builder.getOrCreate()

spark.version

'3.2.1'

In [ ]:
df = spark.read.option("header", "true").csv("/content/drive/My Drive/UCI/Big Data Analysis/Datasets/books.csv")

In [ ]:
df.show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|        870|      2153167|             29221|        9/1/2004|     Scholastic Inc.|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|        352|         6333|               244|       11/1/2003|          Scholastic|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|        152|           19|                 1|       4/26/2005|        Nimble Books|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|        815|         3628|               254|       11/1/2005|      Gramercy Books|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|        815|       249558|              4080|       4/30/2002|       Del Rey Books|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|        215|         4930|               460|        8/3/2004|               Crown|
|    16|The Hitchhiker's ...|Douglas Adams/Ste...|          4.22|0739322206|9780739322208|          eng|          6|         1266|               253|       3/23/2005|  Random House Audio|
|    18|The Ultimate Hitc...|       Douglas Adams|          4.38|0517149257|9780517149256|          eng|        815|         2877|               195|       1/17/1996|         Wings Books|
|    21|A Short History o...|         Bill Bryson|          4.21|076790818X|9780767908184|          eng|        544|       248558|              9396|       9/14/2004|      Broadway Books|
|    22|Bill Bryson's Afr...|         Bill Bryson|          3.44|0767915062|9780767915069|          eng|         55|         7270|               499|       12/3/2002|      Broadway Books|
|    23|Bryson's Dictiona...|         Bill Bryson|          3.87|0767910435|9780767910439|          eng|        256|         2088|               131|       9/14/2004|      Broadway Books|
|    24|In a Sunburned Co...|         Bill Bryson|          4.07|0767903862|9780767903868|          eng|        335|        72451|              4245|       5/15/2001|      Broadway Books|
|    25|I'm a Stranger He...|         Bill Bryson|          3.90|076790382X|9780767903820|          eng|        304|        49240|              2211|       6/28/2000|      Broadway Books|
|    26|The Lost Continen...|         Bill Bryson|          3.83|0060920084|9780060920081|          eng|        299|        45712|              2257|       8/28/1990|William Morrow Pa...|
|    27|Neither Here nor ...|         Bill Bryson|          3.86|0380713802|9780380713806|          eng|        254|        48701|              2238|       3/28/1993|William Morrow Pa...|
|    28|Notes from a Smal...|         Bill Bryson|          3.91|0380727501|9780380727506|          eng|        324|        80609|              3301|       5/28/1997|William Morrow Pa...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

In [ ]:
#Display the data types of the columns

df.dtypes

[('bookID', 'string'),
 ('title', 'string'),
 ('authors', 'string'),
 ('average_rating', 'string'),
 ('isbn', 'string'),
 ('isbn13', 'string'),
 ('language_code', 'string'),
 ('  num_pages', 'string'),
 ('ratings_count', 'string'),
 ('text_reviews_count', 'string'),
 ('publication_date', 'string'),
 ('publisher', 'string')]

# Using SQL to interface with Spark

**Step 1**: Register the DataFrame as a SQL temporary view so that you can interact with it using SQL commands

In [ ]:
df.createOrReplaceTempView("books")

**Step 2**: Query the temporary view using SQL

In [ ]:
sqlDF = spark.sql("SELECT * FROM books")
sqlDF.show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|        870|      2153167|             29221|        9/1/2004|     Scholastic Inc.|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|        352|         6333|               244|       11/1/2003|          Scholastic|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|        152|           19|                 1|       4/26/2005|        Nimble Books|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|        815|         3628|               254|       11/1/2005|      Gramercy Books|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|        815|       249558|              4080|       4/30/2002|       Del Rey Books|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|        215|         4930|               460|        8/3/2004|               Crown|
|    16|The Hitchhiker's ...|Douglas Adams/Ste...|          4.22|0739322206|9780739322208|          eng|          6|         1266|               253|       3/23/2005|  Random House Audio|
|    18|The Ultimate Hitc...|       Douglas Adams|          4.38|0517149257|9780517149256|          eng|        815|         2877|               195|       1/17/1996|         Wings Books|
|    21|A Short History o...|         Bill Bryson|          4.21|076790818X|9780767908184|          eng|        544|       248558|              9396|       9/14/2004|      Broadway Books|
|    22|Bill Bryson's Afr...|         Bill Bryson|          3.44|0767915062|9780767915069|          eng|         55|         7270|               499|       12/3/2002|      Broadway Books|
|    23|Bryson's Dictiona...|         Bill Bryson|          3.87|0767910435|9780767910439|          eng|        256|         2088|               131|       9/14/2004|      Broadway Books|
|    24|In a Sunburned Co...|         Bill Bryson|          4.07|0767903862|9780767903868|          eng|        335|        72451|              4245|       5/15/2001|      Broadway Books|
|    25|I'm a Stranger He...|         Bill Bryson|          3.90|076790382X|9780767903820|          eng|        304|        49240|              2211|       6/28/2000|      Broadway Books|
|    26|The Lost Continen...|         Bill Bryson|          3.83|0060920084|9780060920081|          eng|        299|        45712|              2257|       8/28/1990|William Morrow Pa...|
|    27|Neither Here nor ...|         Bill Bryson|          3.86|0380713802|9780380713806|          eng|        254|        48701|              2238|       3/28/1993|William Morrow Pa...|
|    28|Notes from a Smal...|         Bill Bryson|          3.91|0380727501|9780380727506|          eng|        324|        80609|              3301|       5/28/1997|William Morrow Pa...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

**Step 3**: Filter the data so that only records where the average rating is greater than 4.5

In [ ]:
sqlDF.filter("average_rating > 4.5").show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|
|    30|J.R.R. Tolkien 4-...|      J.R.R. Tolkien|          4.59|0345538374|9780345538376|          eng|       1728|       101233|              1550|       9/25/2012|    Ballantine Books|
|    36|The Lord of the R...|Chris   Smith/Chr...|          4.53|0618391002|9780618391004|          eng|        218|        19822|                46|       11/5/2003|Houghton Mifflin ...|
|   119|The Lord of the R...|        Gary Russell|          4.59|0618212906|9780618212903|          eng|        192|        26153|               102|       6/12/2002|Houghton Mifflin ...|
|   313|100 Years of Lync...|      Ralph Ginzburg|          4.61|0933121180|9780933121188|          eng|        270|           88|                 4|      11/22/1996| Black Classic Press|
|   397|The Gettysburg Ad...|Abraham Lincoln/M...|          4.53|0395883970|9780395883976|          eng|         32|         5239|                76|        2/2/1998|HMH Books for You...|
|   866|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.57|142150460X|9781421504605|          eng|        192|         9013|               153|       9/19/2006|       VIZ Media LLC|
|   868|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.56|1591169259|9781591169253|          eng|        192|        16666|               299|       9/13/2005|       VIZ Media LLC|
|   869|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.57|1421504596|9781421504599|          eng|        192|        11451|               161|       7/18/2006|       VIZ Media LLC|
|   871|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.55|1591169291|9781591169291|          eng|        200|        10752|               294|       11/8/2005|       VIZ Media LLC|
|   873|Fullmetal Alchemi...|Hiromu Arakawa/Ak...|          4.52|1591169232|9781591169239|          eng|        192|        14923|               419|        7/5/2005|       VIZ Media LLC|
|   955|The 5 Love Langua...|        Gary Chapman|          4.70|0802415318|9780802415318|          eng|          0|           22|                 4|        1/1/2005|    Moody Publishers|
|  1111|The Power Broker:...|      Robert A. Caro|          4.51|0394720245|9780394720241|          eng|       1344|        11208|              1237|       7/12/1975|             Vintage|
|  1729|Metamorphoses: Vo...|Ovid/Frank Justus...|          4.52|0674990471|9780674990470|          eng|        499|           61|                 4|        1/1/1985|Harvard Universit...|
|  1750|Dionysiac Poetics...|       Charles Segal|          4.62|069101597X|9780691015972|          eng|        440|           12|                 0|      11/16/1997|Princeton Univers...|
|  2005|Harry Potter and ...|        J.K. Rowling|          4.57|0747584664|9780747584667|          eng|        768|         1213|                78|       6/23/2006|Bloomsbury Publis...|
|  2034|Comoediae 1: Acha...|Aristophanes/F.W....|          5.00|0198145047|9780198145042|          grc|        364|            0|                 0|       2/22/1922|Oxford University...|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+
only showing top 20 rows

**Step 4**: Filter the dataset to include books that have an average rating of greater than 4.5 and the publisher is 'Ballantine Books'

In [ ]:
sqlDF.filter("average_rating > 4.5").filter("publisher == 'Ballantine Books'").show()

+------+--------------------+--------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+----------------+
|bookID|               title|       authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|       publisher|
+------+--------------------+--------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+----------------+
|    30|J.R.R. Tolkien 4-...|J.R.R. Tolkien|          4.59|0345538374|9780345538376|          eng|       1728|       101233|              1550|       9/25/2012|Ballantine Books|
+------+--------------------+--------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+----------------+

**Step 5**: Add a new column that depicts for each book what proportion of the overall ratings count are text review counts

In [ ]:
import pyspark.sql.functions as F

sqlDF = sqlDF.withColumn("proportion_of_ratings", F.bround((sqlDF.text_reviews_count/sqlDF.ratings_count),2))
sqlDF = sqlDF.withColumn("avg_rating_decimal", sqlDF.average_rating.cast('Decimal(4,2)'))
sqlDF.show()

+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+---------------------+------------------+
|bookID|               title|             authors|average_rating|      isbn|       isbn13|language_code|  num_pages|ratings_count|text_reviews_count|publication_date|           publisher|proportion_of_ratings|avg_rating_decimal|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+---------------------+------------------+
|     1|Harry Potter and ...|J.K. Rowling/Mary...|          4.57|0439785960|9780439785969|          eng|        652|      2095690|             27591|       9/16/2006|     Scholastic Inc.|                 0.01|              4.57|
|     2|Harry Potter and ...|J.K. Rowling/Mary...|          4.49|0439358078|9780439358071|          eng|        870|      2153167|             29221|        9/1/2004|     Scholastic Inc.|                 0.01|              4.49|
|     4|Harry Potter and ...|        J.K. Rowling|          4.42|0439554896|9780439554893|          eng|        352|         6333|               244|       11/1/2003|          Scholastic|                 0.04|              4.42|
|     5|Harry Potter and ...|J.K. Rowling/Mary...|          4.56|043965548X|9780439655484|          eng|        435|      2339585|             36325|        5/1/2004|     Scholastic Inc.|                 0.02|              4.56|
|     8|Harry Potter Boxe...|J.K. Rowling/Mary...|          4.78|0439682584|9780439682589|          eng|       2690|        41428|               164|       9/13/2004|          Scholastic|                  0.0|              4.78|
|     9|Unauthorized Harr...|W. Frederick Zimm...|          3.74|0976540606|9780976540601|        en-US|        152|           19|                 1|       4/26/2005|        Nimble Books|                 0.05|              3.74|
|    10|Harry Potter Coll...|        J.K. Rowling|          4.73|0439827604|9780439827607|          eng|       3342|        28242|               808|       9/12/2005|          Scholastic|                 0.03|              4.73|
|    12|The Ultimate Hitc...|       Douglas Adams|          4.38|0517226952|9780517226957|          eng|        815|         3628|               254|       11/1/2005|      Gramercy Books|                 0.07|              4.38|
|    13|The Ultimate Hitc...|       Douglas Adams|          4.38|0345453743|9780345453747|          eng|        815|       249558|              4080|       4/30/2002|       Del Rey Books|                 0.02|              4.38|
|    14|The Hitchhiker's ...|       Douglas Adams|          4.22|1400052920|9781400052929|          eng|        215|         4930|               460|        8/3/2004|               Crown|                 0.09|              4.22|
|    16|The Hitchhiker's ...|Douglas Adams/Ste...|          4.22|0739322206|9780739322208|          eng|          6|         1266|               253|       3/23/2005|  Random House Audio|                  0.2|              4.22|
|    18|The Ultimate Hitc...|       Douglas Adams|          4.38|0517149257|9780517149256|          eng|        815|         2877|               195|       1/17/1996|         Wings Books|                 0.07|              4.38|
|    21|A Short History o...|         Bill Bryson|          4.21|076790818X|9780767908184|          eng|        544|       248558|              9396|       9/14/2004|      Broadway Books|                 0.04|              4.21|
|    22|Bill Bryson's Afr...|         Bill Bryson|          3.44|0767915062|9780767915069|          eng|         55|         7270|               499|       12/3/2002|      Broadway Books|                 0.07|              3.44|
|    23|Bryson's Dictiona...|         Bill Bryson|          3.87|0767910435|9780767910439|          eng|        256|         2088|               131|       9/14/2004|      Broadway Books|                 0.06|              3.87|
|    24|In a Sunburned Co...|         Bill Bryson|          4.07|0767903862|9780767903868|          eng|        335|        72451|              4245|       5/15/2001|      Broadway Books|                 0.06|              4.07|
|    25|I'm a Stranger He...|         Bill Bryson|          3.90|076790382X|9780767903820|          eng|        304|        49240|              2211|       6/28/2000|      Broadway Books|                 0.04|              3.90|
|    26|The Lost Continen...|         Bill Bryson|          3.83|0060920084|9780060920081|          eng|        299|        45712|              2257|       8/28/1990|William Morrow Pa...|                 0.05|              3.83|
|    27|Neither Here nor ...|         Bill Bryson|          3.86|0380713802|9780380713806|          eng|        254|        48701|              2238|       3/28/1993|William Morrow Pa...|                 0.05|              3.86|
|    28|Notes from a Smal...|         Bill Bryson|          3.91|0380727501|9780380727506|          eng|        324|        80609|              3301|       5/28/1997|William Morrow Pa...|                 0.04|              3.91|
+------+--------------------+--------------------+--------------+----------+-------------+-------------+-----------+-------------+------------------+----------------+--------------------+---------------------+------------------+
only showing top 20 rows

# Aggregating data using GroupBy

**Step 6**: Find the lowest average_rating where the publisher if 'Broadway Books'

In [ ]:
sqlDF.filter("publisher == 'Broadway Books'").groupBy().min("avg_rating_decimal").show()

+-----------------------+
|min(avg_rating_decimal)|
+-----------------------+
|                   3.25|
+-----------------------+

**Step 7**: Find the highest average_rating where the publisher if 'Broadway Books'

In [ ]:
sqlDF.filter("publisher == 'Broadway Books'").groupBy().max("avg_rating_decimal").show()

+-----------------------+
|max(avg_rating_decimal)|
+-----------------------+
|                   4.43|
+-----------------------+

**Step 8**: Ascertain the cumulative count of ratings received for Broadway Books

In [ ]:
#First convert from string type to integer
sqlDF = sqlDF.withColumn("total_rating_count", sqlDF.ratings_count.cast('Integer'))
sqlDF.filter("publisher == 'Broadway Books'").groupBy().sum("total_rating_count").show()

+-----------------------+
|sum(total_rating_count)|
+-----------------------+
|                 695164|
+-----------------------+

**Step 9:** Ascertain the average  count of ratings received for Broadway Books

In [ ]:
sqlDF.filter("publisher == 'Broadway Books'").groupBy().avg("total_rating_count").show()

+-----------------------+
|avg(total_rating_count)|
+-----------------------+
|     14187.020408163266|
+-----------------------+

**Step 10**: Show average count of ratings for each publisher

In [ ]:
sqlDF.groupBy("publisher").avg("total_rating_count").show()

+--------------------+-----------------------+
|           publisher|avg(total_rating_count)|
+--------------------+-----------------------+
|       The New Press|                 1693.0|
|        Chosen Books|                  536.5|
|       Digireads.com|     24628.166666666668|
|               Ember|               351258.4|
|           IVP Books|                   10.5|
|       No Exit Press|                43253.8|
|Dabel Brothers Pr...|                  276.0|
|                 DAW|     5079.1463414634145|
|      Celestial Arts|                  442.0|
|Arcadia Publishin...|                    5.0|
|Hachette Littérature|                    1.0|
|         Cleis Press|                  428.5|
|Chicago Review Press|      6315.857142857143|
|                 HQN|                 7769.0|
|World Wrestling E...|                 1154.0|
|Wayne State Unive...|                   45.0|
|           Doubleday|      8012.916666666667|
|               Verso|     1204.8666666666666|
|   Time Life Medical|                   60.2|
|                 Roc|                16373.5|
+--------------------+-----------------------+
only showing top 20 rows

We will utilize **.agg()** method - this method lets you pass an aggregate column expression that uses any of the aggregate functions from the pyspark.sql.functions submodule.

The *pyspark.sql.functions* submodule includes a number of useful functions for performing a variety of computations like standard deviations. Note that all the aggregation functions in this submodule take the name of a column in a GroupedData table as demonstrated via the example below

**Step 11**: Compute the standard deviation of ratings count by publisher

In [ ]:
# Import pyspark.sql.functions as F
import pyspark.sql.functions as F


# Standard deviation of ratings count by publisher
sqlDF.groupBy("publisher").agg(F.stddev("ratings_count")).show()

+--------------------+--------------------------+
|           publisher|stddev_samp(ratings_count)|
+--------------------+--------------------------+
|       The New Press|        4021.5151825694215|
|        Chosen Books|        457.49808742769625|
|       Digireads.com|        51201.525162505335|
|               Ember|         691000.7816122931|
|           IVP Books|        14.849242404917497|
|       No Exit Press|         17332.11097068098|
|Dabel Brothers Pr...|                      null|
|                 DAW|         6372.894532945668|
|      Celestial Arts|         612.3544725075502|
|Arcadia Publishin...|        2.9439202887759492|
|Hachette Littérature|                      null|
|         Cleis Press|        488.69792987761537|
|Chicago Review Press|         9251.830511283904|
|                 HQN|         7846.056844045931|
|World Wrestling E...|                      null|
|Wayne State Unive...|         46.66904755831214|
|           Doubleday|        24104.695025350382|
|               Verso|         1821.766994143977|
|   Time Life Medical|         40.95200442794793|
|                 Roc|        31089.472770422744|
+--------------------+--------------------------+
only showing top 20 rows

# Joining datasets using Spark SQL

In [ ]:
# Create the tables that will be joined

valuesA = [('Dog',1),('Monkey',2),('Elephant',3),('Penguin',4)]
TableA = spark.createDataFrame(valuesA,['name','id'])
 
valuesB = [('Lizard',1),('Dog',2),('Elephant',3),('Rat',4)]
TableB = spark.createDataFrame(valuesB,['name','id'])
 
TableA.show()
TableB.show()

+--------+---+
|    name| id|
+--------+---+
|     Dog|  1|
|  Monkey|  2|
|Elephant|  3|
| Penguin|  4|
+--------+---+

+--------+---+
|    name| id|
+--------+---+
|  Lizard|  1|
|     Dog|  2|
|Elephant|  3|
|     Rat|  4|
+--------+---+

In [ ]:
# Create table aliases

T1 = TableA.alias('T1')
T2 = TableB.alias('T2')

In [ ]:
# Inner Join on name - returns matching records from the 2 tables respectively

T1.join(T2, T1.name == T2.name, 'inner').show()

+--------+---+--------+---+
|    name| id|    name| id|
+--------+---+--------+---+
|     Dog|  1|     Dog|  2|
|Elephant|  3|Elephant|  3|
+--------+---+--------+---+

In [ ]:
# Left Join Example - If you want to select all records from table 1 and return data from table 2 when it matches, you choose ‘left’ 

T1.join(T2, T1.name == T2.name, 'left').show()

+--------+---+--------+----+
|    name| id|    name|  id|
+--------+---+--------+----+
|     Dog|  1|     Dog|   2|
|Elephant|  3|Elephant|   3|
|  Monkey|  2|    null|null|
| Penguin|  4|    null|null|
+--------+---+--------+----+

In [ ]:
# Left Join - filtering out nulls

left_join = T1.join(T2, T1.name == T2.name, 'left')
left_join.filter((T2.name).isNotNull()).show()

+--------+---+--------+---+
|    name| id|    name| id|
+--------+---+--------+---+
|     Dog|  1|     Dog|  2|
|Elephant|  3|Elephant|  3|
+--------+---+--------+---+

In [ ]:
# Right Join Example - If you want to select all records from table 2 and return data from table 1 when it matches, you choose ‘right’ 

T1.join(T2, T1.name == T2.name, 'right').show()

+--------+----+--------+---+
|    name|  id|    name| id|
+--------+----+--------+---+
|     Dog|   1|     Dog|  2|
|Elephant|   3|Elephant|  3|
|    null|null|  Lizard|  1|
|    null|null|     Rat|  4|
+--------+----+--------+---+

In [ ]:
# Full Outer Join - This shows all records from the left table and all the records from the right table and nulls where the two do not match

T1.join(T2, T1.name == T2.name,how='full').show()

+--------+----+--------+----+
|    name|  id|    name|  id|
+--------+----+--------+----+
|     Dog|   1|     Dog|   2|
|Elephant|   3|Elephant|   3|
|    null|null|  Lizard|   1|
|  Monkey|   2|    null|null|
| Penguin|   4|    null|null|
|    null|null|     Rat|   4|
+--------+----+--------+----+

In [ ]:
import datetime
import pytz

datetime.datetime.now(pytz.timezone('US/Central')).strftime("%a, %d %B %Y %H:%M:%S")

'Wed, 27 April 2022 15:33:57'